<!DOCTYPE html>

<html>
<head>
	<title>Survey</title>
</head>
<body>
	<table border="2">
		<tr>
			<th>
				NAME
			</th>
			<th>
				FAVORITE COLOR
			</th>
			<th>
				# LANGUAGE SPOKEN
			</th><body>	
			<th>
				FAVORITE ANIMAL
			</th>
		</tr>
		<tr>
			<td>
				MAYA
			</td>
			<td style="color: blue">
				Blue
			</td>
			<td>
				4
			</td>
			<td>
				<img src="tiger.jpeg" width="100">
			</td>
		</tr>
		<tr>
			<td>
				IDO
			</td>
			<td style="color: lightblue">
				Light blue
			</td>
			<td>
				2
			</td>
			<td>
				<img src="dog.jpeg" width="100">
			</td>
		</tr>
		<tr>
			<td>
				BADEA
			</td>
			<td style="color: green">
				Green
			</td>
			<td>
				3
			</td>
			<td>
				<img src="dolphins.jpeg" width="100">
			</td>
		</tr>
		<tr>
			<td>
				WADI
			</td>
			<td style="color: green">
				Green
			</td>
			<td>
				3
			</td>
			<td>
				<img src="dog.jpeg" width="100">
			</td>
		</tr>
		<tr>
			<td>
				<input type="text" name="firstname" placeholder="First name">
			</td>
			<td>
				<input type="radio" name="color" value="green">Green
				<br>
				<input type="radio" name="color" value="blue">Blue
				<br>
				<input type="radio" name="color" value="red">Red
				<br>
				<input type="radio" name="color" value="yellow">Yellow
				<br>
				<input type="radio" name="color" value="another">Another color
			</td>
			<td>
				<input type="checkbox" name="number" value="1">1
				<br>
				<input type="checkbox" name="number" value="2">2
				<br>
				<input type="checkbox" name="number" value="3">3
				<br>
				<input type="checkbox" name="number" value="4">4
				<br>
				<input type="checkbox" name="number" value="more than 5">more than 5
			</td>
			<td>
				<input type="checkbox" name="animal" value="dog"><img src="dog.jpeg" width="60">
				<br>
				<input type="checkbox" name="animal" value="dolphins"><img src="dolphins.jpeg" width="60">
				<br>
				<input type="checkbox" name="animal" value="tiger"><img src="tiger.jpeg" width="60">
				<br>
				<input type="submit" name="submit">
			</td>
		</tr>
	</table>
</body>
</html>